.brand h1{
  font-size: 40px ;
  position: auto;
  color:#F7EEF7;
  padding-left: 50px;
  padding-top: 50px;
  font-weight:bold;
}
.brand h1{
  font-family: 'Kaushan Script', cursive;
  text-shadow: 2px 2px 2px red;
}
header{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)), url(../media/showcase.jpg);
  height: 90vh ;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:
}
.knowpara{
  font-family: 'Eagle Lake', cursive;

  font-size: 18px;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  text-align:center;
  padding-bottom: 60px;
}
.knw{
   background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
.works{
  margin-top: 70px;
}
.hr{
  width:200px;
}
.know {
  color:#0E2189;
   text-shadow: 2px 3px 3px white;
}
.hr1{
  width: auto;
}
footer{
  background-color: black;
  color:white;
  height: 60px;
}
footer .social{
  float: left;
  padding-top: 20px;
  padding-left: 10px;
  
}
footer .foot{
  text-align: right;
  margin-right: 30px;
  padding-top: 20px;


}
.logoColoumn{
  color:lightgrey;
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #353B3C;
}
.logoColoumn h2{
  color:  orange;
  font-weight: bold;
  font-family: 'Chela One', cursive
}


</-------------gallery--------------/>
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  color: #BFAFA8;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.gal{
  padding-top: 20px;
  padding-bottom: 50px;
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}
.gal h1{
  color:#E1D9D5;
  text-shadow: 2px 4px 7px red;
  font-family: 'Permanent Marker', cursive;
}
