body,html {
	height:100%;
	margin:0;
	color:white;
}

.brand {
 position:absolute;
 top:42%;
 left: 50%;
 transform: translate(-50%, -50%);
 color:white;
 letter-spacing:2px;
 word-spacing:2px;
}

.brand-1{
	font-size: 70px;
	font-weight:bold;
	color:#ffad33;
}

.brand-2{
	font-size: 40px;
	color:lightgray;
}

.tag{
	position:absolute;
	top:52%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:white;
	font-size: 17px;
	font-weight: bold;
	letter-spacing:3px;
	word-spacing:2px;
}
.navbar {
	padding:20px 20px;
	background-color:;
}

#mynav {
	background-color:transparent;
	border:none;
	color:white;


}

#mynav a {
  font-weight: bold;
	color:white;
	font-size:15px;
	font-family:helvetica;
	padding-left:5px;
	opacity:1 !important;
	padding: 20px;
}

#mynav a:hover {
	color:orange;
}

#active {
	background-color:transparent;
}


#collapse {
	border:none;
	padding-bottom:;
}


#collapse a{
	text-align: left;
}

.navbar-fixed-top.scrolled {
  background-color:#fff !important;
  transition: background-color 200ms linear;
  border-bottom:solid 1px lightgray !important;
  opacity:1 !important;
}

.scrolled a {
	color:black !important;
}
.scrolled a:hover{
	color: orange !important;
}
.bg {
 background-color: #004B8D;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
}

.logo {
	position:fixed;
	top:7%;
	left:10%;
	transform: translate(-50%, -50%);
	height:70px;
	width:70px;
	border: 2px solid black;
	border-radius:20%;
	opacity:1 !important;
}

#navbar.logo{
	top:20% !important;
}




.know {

	text-align:center;

	font-family: Lato;

	font-size:35px;

	color:#2952a3;

	font-weight:bold;

}



.knowpara {

	text-align:center;

	font-family:Lato;

	font-size:25px;

	color:black;

}



* { box-sizing: border-box; }



.wrapper {

	padding: 5px;

	max-width: auto;

	width: 100%;

	margin: 0px 0px;

}



.row {

	display: flex;

	flex-flow: row wrap;

	justify-content: center;

	margin: 5px 0;

}

.column {

	flex: 1;

	text-align:center;

	font-family:Lato;

	font-size:18px;

	padding:32px;

	&:first-child { margin-left: 0; }

	&:last-child { margin-right: 0; }



.column p {

	color:#666666;

}





}



#col1 { background-color:#f2f2f2;}

#col2 { background-color:#e6e6e6; }

#col3 { background-color:#d9d9d9; }

#feedback {

	background-color: lightgrey;

	width:100%;

	margin:0px 0px;

	padding-top:15px;

}



footer {

	background-color:#262626;

	padding:15px 15px;

}





.foot {

	text-align:center;

	color:white;

	font-size:14px;

	font-family:helvetica;

}





@media screen and (max-width: 980px) {

  .row .column {

		margin-bottom: 5px;

    flex-basis: 40%;

		&:nth-last-child(2) {

			margin-right: 0;

		}

		&:last-child {

			flex-basis: 100%;

			margin: 0;

		}

	}

	.brand {
	 position:absolute;
	 top:42%;

	 text-align: center !important;
	 transform: translate(-50%, -50%);
	 color:white;
	 letter-spacing:2px;
	 word-spacing:2px;
	}

	.brand-1{
		font-size: 50px;
		font-weight:bold;
		color:#ffad33;

	}

	.brand-2{
		font-size: 30px;
		color:lightgray;
	}

	.tag{
		position:absolute;
		top:54% !important;
		text-align: center !important;
		transform: translate(-50%, -50%);
		color:white;
		font-size: 20px;
		font-weight: bold;
		letter-spacing:1px !important;
		word-spacing:2px;
	}

}



@media screen and (max-width: 680px) {

	.row .column {

		flex-basis: 100%;

		margin: 0 0 5px 0;

	}

	.brand {
	 position:absolute;
	 top:42%;

	 text-align: center !important;
	 transform: translate(-50%, -50%);
	 color:white;
	 letter-spacing:2px;
	 word-spacing:2px;
	}

	.brand-1{
		font-size: 40px;
		font-weight:bold;
		color:#ffad33;

	}

	.brand-2{
		font-size: 25px;
		color:lightgray;
	}

	.tag{
		position:absolute;
		top:54% !important;
		text-align: center !important;
		transform: translate(-50%, -50%);
		color:white;
		font-size: 12px;
		font-weight: bold;
		letter-spacing:1px !important;
		word-spacing:2px;
	}

	}

}
